<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= @title %></title>
  </head>
  <body>
    <nav>
      <a href="/">Posts</a>
    </nav>
    <h1>Wellcome to my Homepage!</h1>
  </body>
</html>
